{% extends 'base.html' %}

{% block title %}
    Source
{% endblock title %}


{% block content %}
    <table style="border: 1px solid black; border-collapse: collapse">
        <tr>
            <th style="padding: 0.5rem 0.75rem; border: 1px solid black">
                Id:
            </th>
            <th style="padding: 0.5rem 0.75rem; border: 1px solid black">
                Name:
            </th>
            <th style="padding: 0.5rem 0.75rem; border: 1px solid black">
                Sourse URL:
            </th>
            <th style="padding: 0.5rem 0.75rem; border: 1px solid black">
                Phone number:
            </th>
        </tr>
        {% for rate in rates %}
            <tr><td style="padding: 0.5rem 0.75rem; border: 1px solid black">
                    {{ sour.id }}
                </td>
                <td style="padding: 0.5rem 0.75rem; border: 1px solid black">
                    {{ sour.name }}
                </td>
                <td style="padding: 0.5rem 0.75rem; border: 1px solid black">
                    {{ sour.source_url }}
                </td>
                <td style="padding: 0.5rem 0.75rem; border: 1px solid black">
                    {{ sour.phone_number }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}