{% extends 'base.html' %}

{% block title %}
    Source
{% endblock title %}


{% block content %}
    <a href="{% url 'currency:source_create' %}">Create source</a>
    <table style="border: 1px solid black; border-collapse: collapse">
        <tr>
            <th style="padding: 0.5rem 0.75rem; border: 1px solid black">
                Id:
            </th>
            <th style="padding: 0.5rem 0.75rem; border: 1px solid black">
                Name:
            </th>
            <th style="padding: 0.5rem 0.75rem; border: 1px solid black">
                Sourse URL:
            </th>
            <th style="padding: 0.5rem 0.75rem; border: 1px solid black">
                Phone number:
            </th>
        </tr>
        {% for sour in source_list %}
            <tr>
                <td style="padding: 0.5rem 0.75rem; border: 1px solid black">
                    {{ sour.id }}
                </td>
                <td style="padding: 0.5rem 0.75rem; border: 1px solid black">
                    {{ sour.name }}
                </td>
                <td style="padding: 0.5rem 0.75rem; border: 1px solid black">
                    {{ sour.source_url }}
                </td>
                <td style="padding: 0.5rem 0.75rem; border: 1px solid black">
                    {{ sour.phone_number }}
                </td>
                <td style="padding: 0.5rem 0.75rem; border: 1px solid black">
                    {% if user.is_superuser %}
                        <a href="{% url 'currency:source_update' sour.id%}">Edit</a>
                    {% else %}
                        <a href="">Edit</a>
                    {% endif %}
                </td>
                <td style="padding: 0.5rem 0.75rem; border: 1px solid black">
                    {% if user.is_superuser %}
                        <a href="{% url 'currency:source_delete' sour.id%}">Delete</a>
                    {% else %}
                        <a href="">Edit</a>
                    {% endif %}
                </td>
            </tr>

        {% endfor %}
    </table>
{% endblock content %}